<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing your text</title>
    <style>
        
    </style>
</head>
<body>
<p style="position:relative;color:black;text-align:center;font-size:100px" >--:Your Analyzed Text:-{{purpose}}</p>
<table border=0>
    <tr><td>
<textarea style="position:relative;left:500px;color:red;text-align:center;width:500px;height:100px;background-color:pink;border:2px solid red">
    {{analyzing_text}}
</textarea> </tr></td></table>
</body>
</html>